html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;

  /* position: relative; */
  display: flex;
  width: 100%;
  justify-content: center;
  top: 0;
}

.robot {
  width: 320px;
  position: relative;
}

.robot-body {
  width: 320px;

  /* position: absolute;
  display: block;
  z-index: 50; */
}

.robot-brain {
  width: 46px;
  position: absolute;
  right: 135px;

  /* display: inline-block; */
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  position: absolute;
  z-index: 5;

  /* display: inline-block; */
}

.robot-head-left {
  left: -50px;
}

.robot:hover {
}
