html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
  max-width: 100%;
  max-height: 50em;
  display: flex;
}

.robot {
  width: 320px;
  display: flex;
  z-index: 50;
  position: relative;
}

.robot-body {
  width: 320px;
  position: absolute;
  /* display: block; */
  width 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.robot-brain {
  width: 46px;
  position: absolute;
  display: inline-block;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
