html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;

  /* position: relative; */
  display: flex;
  width: 100%;
  justify-content: center;
}

.robot {
  width: 320px;
  position: relative;
  margin-top: 60px;
  margin-bottom: 0;
}

.robot-body {
  width: 320px;

  /* position: absolute;
  display: block;
  z-index: 50; */
}

.robot-brain {
  width: 46px;
  position: absolute;
  right: 138px;

  /* display: inline-block; */
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  position: absolute;

  /* z-index: 5; */
  /* display: inline-block; */
}

.robot-head-left {
  left: 35px;
  top: -38px;
}

.robot-head-right {
  right: 35px;
  top: -38px;
}

/* .robot-head-right:hover {
  transform: translateX(50px);
}

.robot-head-left:hover {
  transition: transform:
  transform: translateX(-50px);
} */

.robot:hover > .robot-brain {
  top: -10%;
}

.robot:hover > .robot-head-left {
  transform: translateX(-50%);
  top: -35%;
}

.robot:hover > .robot-head-right {
  transform: translateX(50%);
  top: -35%;
}
